.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-Title {
  font-size: 25px;
}

/* ----------- */
.page {         /*전체 기본 와꾸*/
  position: absolute;       /*상위요소인 body를 기준으로 배치*/
  left: 50%;                /*왼쪽 끝에서 50%만큼 떨어뜨리고*/
	transform: translate(-50%, 0);  /*왼쪽으로 자신의 가로 크기의 50%만큼 이동시키면 딱 중앙에 위치한다*/
	
  top: 0;                   /*위에 붙이고*/
	bottom: 0;                /*아래에 붙이고*/
	width: 100%;              /*가로폭은 최대로*/
	max-width: 500px;
  padding: 10px 20px;       /*상하 좌우 */
  

  background-color: #1E90FF;

	overflow: auto;
  display: flex;
  flex-direction: column;
}


.titleWrap {
    margin-top: 30px;
    font-size: 26px;
	  font-weight: bold;
	  color: #262626;
    text-align: center;
    border-radius: 10px;
    border: 3px solid whitesmoke;
  }

.contentWrap {
    margin-top: 5px;
    flex: 1;
}

.inputTitle {
    font-size: 20px;
	font-weight: 600;
	color: #262626;
  margin-top: 10px ;
}

.inputWrap {
    display: flex;
    
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 15px solid rgb(178, 198, 151);
  border-radius: 50%;
}
.wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 1170px;
}

.location {
  width:100%;
}

.date, .gender, .interest,  .capacity { /*여러 태그 선택할때는 ,로 */
  margin: auto;
}



.inputWrap:focus-within {
    border: 1px solid #9e30f4;
}

.input {
    width:100%;
    outline: #ef0000;
	  border: #9e30f4;
    height: 17px;
    font-size: 14px;
	  font-weight: 400;
}

.input::placeholder {
    color: #262626;
    text-align: center;
}

.bottomButton {
    margin-top:20px;
    width: 50%;
	  height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 64px;
    background-color: red;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}

.bottomButton:disabled {
    background-color: floralwhite;
    color: #262626;
}

.errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

